JWT_SECRET="secret"

MONGO_USER=YOUR_MONGO_USERNAME
MONGO_PASS=YOUR_MONGO_PASSWORD
MONGO_CLUSTER=YOUR_CLUSTER_NAME
MONGO_DB=DB_NAME

STRIPE_SECRET_KEY=YOUR_STRIPE_SECRET_KEY
STRIPE_PUBLISHABLE_KEY=YOUR_STRIPE_PUBLISHABLE_KEY

FRONTEND_URL='http://localhost:5173'
ADMIN_URL='http://localhost:5174'
